/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: "Intro Book";
  src: url("fonts/Intro-Book.otf");
}
@font-face {
  font-family: "Intro Bold";
  src: url("fonts/Intro-Bold.otf");
}
@font-face {
  font-family: "Intro Regular";
  src: url("fonts/Intro-Regular.otf");
}
@font-face {
  font-family: "Intro Black";
  src: url("fonts/Intro-Black.otf");
}
@font-face {
  font-family: "Gill Sans";
  src: url("fonts/GillSans.ttc");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  font-family: "Intro Regular";
  color: #010000;
  padding: 0 10px;
}
a {
  color: #010000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.button {
  font-family: "Intro Black";
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 56px;
  vertical-align: middle;
  text-align: center;
  padding: 0 13px;
}
.button:hover {
  background-color: #606060;
}
header {
  padding-top: 100px;
  position: relative;
  z-index: 10;
}
nav {
  float: left;
  padding-top: 6px;
}
nav ul li {
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.1em;
}
nav ul li .active {
  font-family: "Intro Bold";
}
.user-block {
  float: right;
  color: #303030;
  font-family: "Intro Book";
  font-size: 14px;
  line-height: 34px;
}
.user-block .cart {
  float: left;
}
.cart form{
      display: inline-block;
    margin-top: 2px;
}
.user-block .cart span {
    vertical-align: top;
}
.user-block .full-cart {
  background-position: -83px -8px;
}
.user-block .search-form {
  float: right;
  border: 1px solid #959595;
  margin-top: 5px;
  margin-left: 20px;
}
.user-block form .search-input {
  font-size: 10px;
  width: 77px;
  height: 20px;
  float: left;
  box-sizing: border-box;
  border: none;
  border-right: 1px solid #959595;
  padding-left: 7px;
}
.user-block form .search-button {
  width: 23px;
  height: 20px;
  background-color: #fff;
  float: right;
  border: none;
  background-position: -159px -7px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}
footer {
  text-align: center;
  margin-bottom: 174px;
}
footer .mail {
  color: #606060;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0.04em;
  padding-left: 9px;
}
footer .social-block .social-button {
  display: inline-block;
  width: 26px;
  height: 24px;
  border-radius: 50%;
  background-color: #000002;
  margin-left: 9px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}
footer .social-block .social-button:hover {
  background-color: #606060;
}
footer .social-block .vk {
  background-position: -255px -4px;
}
footer .social-block .fb {
  background-position: -46px -4px;
}
footer .social-block .soundcloud {
  background-position: -189px -5px;
}
footer .social-block .youtube {
  background-position: -286px -4px;
}
footer .social-block .insta {
  background-position: -124px -5px;
}
footer .social-block .twitter {
  background-position: -222px -5px;
}
footer .social-block:after,
footer .social-block:before {
  content: "";
  display: inline-block;
  width: 380px;
  height: 1px;
  background-color: black;
  margin: 10px;
}

.main-picture img {
  position: relative;
  left: -186px;
  top: -93px;
  margin-bottom: 114px;
  z-index: 1;
}
.events {
  background-image: url(../img/event-map.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 50px;
}
.events main {
  letter-spacing: 0.15em;
  padding-bottom: 565px;
}
.events main .coming-events {
  margin-top: 46px;
}
.events main .last-events {
  margin-top: 35px;
}
.events main .events-heading {
  font-family: "Intro Bold";
  font-size: 24px;
  line-height: 36px;
}
.events main .event {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.1em;
}
.events main .event .date {
  margin-right: 19px;
  width: 84px;
  display: inline-block;
}
.events main .event a {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.catalog {
  margin-top: 56px;
  margin-bottom: 103px;
}
.catalog .catalog-item {
  float: left;
  font-family: "Gill Sans";
  width: 33.33%;
}
.catalog .catalog-item:nth-child(3n+2) {
  padding: 0 10px;
}
.catalog .catalog-item:nth-child(3n+3) {
  padding-left: 15px;
}
.catalog .catalog-item img:hover {
  opacity: 0.7;
}
.catalog .catalog-item h1 {
  font-size: 24px;
  line-height: 21px;
  margin: 14px 0 4px;
  letter-spacing: 0.07em;
}
.catalog .catalog-item h2 {
  font-size: 18px;
  line-height: 18px;
  font-style: italic;
  letter-spacing: 0.001em;
  margin-bottom: 18px;
  font-weight: lighter;
}
.catalog .slider {
  width: 55%;
  float: left;
  height: 810px;
  position: relative;
  padding-left: 3px;
}
.catalog .slider .small-img {
  width: 192px;
  height: 191px;
  margin-right: 7px;
}
.catalog .slider .big-img {
  width: 600px;
  height: 610px;
  margin-bottom: 10px;
}
.catalog .item-info {
  font-family: "Gill Sans";
  width: 45%;
  float: left;
  padding-left: 32px;
  padding-top: 6px;
}
.catalog .item-info h1 {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 0.066em;
  margin: 0px;
}
.catalog .item-info h2 {
  font-size: 60px;
  font-weight: lighter;
  font-style: italic;
}
.catalog .item-info .price {
  font-size: 60px;
  font-weight: 400;
  padding-top: 15px;
  letter-spacing: 0.066em;
  padding-bottom: 13px;
}
.item-info .button-price input{
    width: 140px;
    
}
.catalog .item-info a:hover {
  text-decoration: none;
}
.catalog .item-info .soundcloud {
  width: 100%;
  height: 143px;
  margin-top: 36px;
  margin-bottom: 20px;
}
.catalog .item-info .info-text {
  font-family: "Intro Book";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 1px;
  border-top: 1px solid black;
  padding-top: 10px;
}
.news {
  margin-top: 57px;
  margin-bottom: 150px;
}
.news .news-item h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-family: "Gill Sans";
  letter-spacing: 0.06em;
  margin: 18px 0 9px;
}
.news .news-item p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1em;
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(fancybox_overlay.png);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url(fancybox_sprite@2x.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url(fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

.wdform-page-and-images .other_input
{
     max-width: none;
}
button,
input,
select,
textarea
{
     font-size:14px;
}
.warning,
.error
{
     background-color: #F0EFEF;
     border: 1px solid #000000;
     border-radius: 5px;
     color: #000000;
     padding: 5px;
}
.warning *,
.error *
{
     margin:0;
}
.recaptcha_input_area input
{
     height:initial !important;
}
input[type="radio"]
{
     border:none !important;
     outline:none !important;
}
input[type="checkbox"]
{
     border:none !important;
     outline:none !important;
}
a.ui-spinner-button
{
     border-radius:0px !important;
     background: none!important;
}

a.ui-slider-handle {
     width: 13px;
     height: 13px;
     top: -4px;
     border: 0px;
     border-radius: 13px;
     background: #FAFAFA;
     border: 3px solid #B1B1B1;
     outline: none;
}

.ui-slider {
     height: 6px;
     background: #F5F5F5 !important;
     margin: 7px 0px;
}
.wdform_grading input {
     width: 100px;
}
.wdform-matrix-cell input[type="text"] {
     width: 100px;
     font-size: 14px !important;
}
.wdform-matrix-cell select {
     width: 60px;
     font-size: 14px !important;
}
.wdform_section .wdform_column:last-child {
     padding-right: 0px !important;
}
.wdform_preload {
     display: none;
}
.wdform_grading {
     padding: 3px 0px;
}
.wdform-matrix-table {
     display: table;
     border-spacing: 0px;
}
.wdform-matrix-column {
     text-align: left;
     display: table-cell;
}
.wdform-matrix-cell {
     text-align: center;
     display: table-cell;
     padding: 6px 10px;
}
.wdform-matrix-head>div {
     display: table-cell;
     text-align: center;
}
.wdform-matrix-head {
     display: table-row;
}
.wdform-matrix-row0 {
     background: #DFDFDF;
     display: table-row;
}
.wdform-matrix-row1 {
     background: #E9E9E9;
     display: table-row;
}
.selected-text {
     text-align: left;
     color: #000;
}
.wdform-quantity {
     width: 30px;
     margin: 2px 0px;
}
.wdform_scale_rating label {
     vertical-align: middle;
}
.ui-corner-all {
     border-radius: 0px;
}
.ui-widget-content {
     border: 0px;
     background: transparent;
}


.ui-slider-range {
     background: #8A8A8A !important;
}
.wdform_map {
     border: 6px solid #fff;
}
.wdform-page-and-images {
     width: 100%;
     border: 0px solid #000 !important;
     padding-left:10px;
}
.paypal-property {
     display: inline-block;
     margin-right: 15px;
     vertical-align: middle;
}
.sel-wrap {
     display: inline-block;
     vertical-align: middle;
     width:100%;
}

.sel-imul {
     display: none;
}
.sel-imul .sel-selected {
     cursor: pointer;
     position: relative;
     display: inline-block;
     border-radius: 0px;
     padding: 0px 0px 0px 2px;
     font-size: 13px;
     height: 22px;
     line-height: 22px;
     overflow: hidden;
     background: #F8F8F8;
     border: 0px solid #D3D3D3;
     background-position: right 2px center;
     width: 100%;
}
.sel-imul.act .sel-selected {
     background: #fff;
}
.sel-selected .sel-arraw {
     height: 23px;
     width: 30px;
     background: url([SITE_ROOT]/images/09/01.png) 50% 50% no-repeat;
     position: absolute;
     top: 0px;
     right: 0px;
     padding: 0px;
}
.sel-imul:hover .sel-selected .sel-arraw {
     // background-color:#e0e0e0;
     // border-left:1px solid #bbb;
}
.sel-imul.act .sel-selected .sel-arraw {
     // background-color:#e0e0e0;
     // border-left:1px solid #bbb;
}
.sel-imul .sel-options {
     background: #fff;
     border: 1px solid #dbdbdb;
     border-top: none;
     position: absolute;
     width: inherit;
     display: none;
     z-index: 10;
     max-height: 200px;
     overflow-y: auto;
     overflow-x: hidden;
}
.sel-options .sel-option {
     padding: 3px 4px;
     font-size: 13px;
     border: 1px solid #fff;
     border-right: none;
     border-left: none;
     text-align: left;
}
.sel-options .sel-option:hover {
     border-color: #dbdbdb;
     cursor: pointer;
}
.sel-options .sel-option.sel-ed {
     background: #dbdbdb;
     border-color: #dbdbdb;
}
input[type=text]{
     margin: 0px;
}
input[type=password]{
     margin: 0px;
}
input[type=url]{
     margin: 0px;
}
input[type=email]{
     margin: 0px;
}
input.text{
     margin: 0px;
}
input.title{
     margin: 0px;
}
textarea{
     margin: 0px;
}
select {
     margin: 0px;
}
.form-error {
     border-color: red !important;
}
.form-error:focus {
     border-color: red !important;
}
.wdform-field {
     display: table-cell;
     padding: 5px 0px;
}
.wdform-label-section{
     text-align: left;
     display: table-cell;
}
.wdform-element-section {
     text-align: left;
     display: table-cell;
     min-width: 140px;
}
.file-upload input {
     position: absolute;
     visibility: hidden;
}
.file-upload-status {
     margin-left: 10px;
     max-width: 200px;
     font-weight: bold;
     font-size: 16px;
     color: #888;
     position: absolute;
     border-radius: 0px;
     height: 23px;
     padding-left: 5px;
     padding-right: 5px;
     white-space: nowrap;
     overflow: hidden;
}
.file-picker {
     width: 41px;
     height: 32px;
     background: url([SITE_ROOT]/images/10/02/upload.png) no-repeat;
     display: inline-block;
}
.next-page div.wdform-page-button {
     color: #FFF;
     cursor: pointer;
     display: inline-block;
     height: 38px;
     line-height: 35px;
     background:url([SITE_ROOT]/images/10/next.png) no-repeat right #000;
     padding: 0px 36px 0 20px;
     vertical-align: middle;
     font-size: 18px;
     border-top-right-radius: 7px;
     border-bottom-right-radius: 7px;
}
.previous-page div.wdform-page-button {
     color: #A2A2A2;
     cursor: pointer;
     display: inline-block;
     height: 37px;
     line-height: 35px;
     background:url([SITE_ROOT]/images/09/previous.png) no-repeat left #F1F1F1;
     padding: 0 20px 0 36px;
     vertical-align: middle;
     font-size: 18px;
     border-top-left-radius: 7px;
     border-bottom-left-radius: 7px;
}
.button-submit {
     color: #ffffff;
     cursor: pointer;
     display: inline-block;
     line-height: 35px;
     background: #000;
     padding: 0px 20px;
     vertical-align: middle;
     font-size: 18px;
     min-width: 80px;
     min-height: 35px;
     font-family: Segoe UI;
     border: 1px solid transparent;
     margin: 5px;
}
.button-reset {
     color: #787878;
     cursor: pointer;
     display: inline-block;
     line-height: 35px;
     background: #F0EFEF;
     padding: 0px 20px;
     vertical-align: middle;
     font-size: 18px;
     min-width: 80px;
     min-height: 35px;
     font-family: Segoe UI;
     float: right;
     border: 1px solid transparent;
     margin: 5px;
}
.wdform_page {
     background: transparent;
     padding-top: 15px;
     border-radius: 0px;
     font-family: Segoe UI;
}
.wdform_column {
     border-right: none !important;
     padding-right: 50px !important;
     float: left;
     border-spacing: 2px;
     border-collapse: separate !important;
}
.wdform_section_break2 {
     color: #000;
     display: inline-block;
     text-align: left;
     font-size: 23px;
     margin: 16px 10px 40px 0px;
}

.wdform_section_break {
     color: #000;
     font-size: 23px;
     margin: 16px 0px;
}

.wdform_section {
     display: inline-block;
}
select {
     padding: 2px;
     height: 26px;
     border: 1px solid #B7B7B7;
     background: #F8F8F8;
     font-size: 14px !important;
}
input[type="text"]{
    border: 1px solid #959595;
  font-size: 14px;
  line-height: 54px;
  min-height: 56px;
  vertical-align: middle;
  padding-left: 22px;
  width: 306px;
  border-right: none;
}

footer .subscribe {
  color: #606060;
  font-family: "Intro Book";
  font-size: 0;
  margin-top: 64px;
}
footer .subscribe .email {

}
footer .subscribe .email:focus {
  border-color: #000;
  outline: none;
}
footer .subscribe .button {
  border: none;
}

input[type="password"]{
     border-radius: 0px;
     height: 22px;
     padding:0 3px !important;
     background: #F8F8F8;
     border:1px solid #B7B7B7;
     font-size: 14px !important;
}
textarea {
     border-radius: 0px;
     height: 22px;
     padding:0 3px !important;
     background: #F8F8F8;
     border:1px solid #B7B7B7;
     font-size: 14px !important;
}
input[type="text"]:focus{
     outline: none;
}
input[type="password"]:focus{
     outline: none;
}
textarea:focus{
     outline: none;
}
select {
     outline: none;
}
.input_deactive {
     color: #999999;
     font-style: italic;
}
.input_active {
     color: #000000;
     font-style: normal;
}
.am_pm_select {
     width: 30px;
     vertical-align: middle;
}


.wdform-calendar-button,
.wdform-calendar-button:hover {
     display:inline-block;
     background: transparent url([SITE_ROOT]/images/03/date.png) no-repeat !important;
     border: 0px;
     color: transparent;
     width: 22px;
     height: 22px;
     position: relative;
     left: -22px;
     vertical-align: top;
     outline: none;
}


.forlabs {
     float: right;
     margin-right: 20px;
}

.if-ie-div-label {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
     filter: alpha(opacity=100) !important;
     opacity: 1 !important;
}
.wdform-ch-rad-label {
     display: inline;
     margin: -4px 5px 5px 5px;
     float: left;
     color: #000;
     cursor: pointer
}
textarea {
     padding-top: 5px;
}
.wdform-date {
     display:inline-block;
     width: 105px
}
.wdform_footer {
     margin-top: 15px;
}
.page-numbers {
     vertical-align: middle;
}
.time_box {
     text-align: right;
     width: 30px;
     vertical-align: middle
}
.mini_label {
     font-size: 10px;
     font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
     color: #8A8A8A;
}
.wdform-label {
     border: none;
     color: #000;
     vertical-align: top;
     line-height: 17px;
}
.wdform_colon {
     color: #000
}
.wdform_separator {
     font-style: bold;
     vertical-align: middle;
     color: #000;
}
.wdform_line {
     color: #000
}
.wdform-required {
     border: none;
     color: red;
     vertical-align: top;
}
.captcha_img {
     border-width: 0px;
     margin: 0px;
     padding: 0px;
     cursor: pointer;
     border-radius: 0px;
}
.captcha_refresh {
     width: 30px;
     height: 30px;
     border-width: 0px;
     margin: 0px;
     padding: 0px;
     vertical-align: middle;
     cursor: pointer;
     background-image: url([SITE_ROOT]/images/refresh_black.png);
}
.captcha_input {
     height: 20px;
     border-width: 1px;
     margin: 0px;
     padding: 0px;
     vertical-align: middle;
}
.file_upload {
     border: 0px solid white;
     border-radius: 0px;
     margin: 0px;
     padding: 0px;
     color: black;
     background-color: white;
}
.page_deactive {
     color: #000;
     background-color: #FFF;
     cursor: pointer;
     display: inline-block;
     height: 29px;
     text-align: center;
     vertical-align: bottom;
     padding: 5px 25px 0px 25px;
     font-size: 16px;
     font-weight:bold;
}
.page_active {
     color: #FFF;
     cursor: pointer;
     background-color: #000;
     display: inline-block;
     vertical-align: bottom;
     height: 29px;
     text-align: center;
     font-size: 20px;
     padding: 5px 25px 0px 25px;
     line-height: 26px;
     font-weight:bold;
}
.page_percentage_active {
     padding: 0px;
     margin: 0px;
     border-spacing: 0px;
     height: 16px;
     line-height: 16px;
     font-size: 15px;
     float: left;
     text-align: right !important;
     z-index: 1;
     position: relative;
     vertical-align: middle;
     background: #000;
     color: #fff;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
.page_percentage_deactive {
     height: 16px;
     line-height: 16px;
     background-color: #F1F1F1;
     text-align: left !important;
     margin-bottom: 1px;
     border-radius: 5px;
}
.page_numbers {
     font-size: 14px;
     color: #000;
}
.phone_area_code {
     width: 50px;
}
.phone_number {
     width: 100px;
}
button {
     cursor: pointer;
}
.other_input {
     border-radius: 0px;
     border-width: 1px;
     height: 16px;
     font-size: 12px;
     padding: 1px;
     margin: 1px;
     margin-left: 25px;
     z-index: 100;
     position: absolute;
}
.wdform_page_navigation {
     text-align: right !important;
}

.wdform_percentage_text {
     margin: 3px 5px 3px 9px;
     color: #FFF;
     font-size: 12px;
}
.wdform_percentage_title {
     color: #6E6E6E;
     font-style: italic;
     margin: 0px 0px 0px 40px;
     display: inline-block;
     line-height: 27px;
     height: 27px;
     vertical-align: middle;
}
.wdform_button button {
     background: #4D792C;
     cursor: pointer;
     font-size: 17px;
     border-radius: 0px;
     min-width: 80px;
     min-height: 31px;
     color: #fff;
     border: 2px solid #68943B;
     margin: 5px;
     box-shadow: 0px 0px 2px #c9c9c9;
     font-family: Segoe UI;
}
